.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

input {
  font-size: 1rem;
}

.user-cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.card {
  padding: 1rem;
  border: 1px solid black;
}

.sakrij {
  display: none;
}
